body {
  margin: 0;
  padding: 0;
}
.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.container .cont {
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.container .cont button {
  width: 200px;
  margin: 10px;
  height: 50px;
  background: none;
  color: white;
  border: 2px solid white;
  font-size: 17px;
}
h4 {
  margin-top: 50px;
  color: white;
}
