* {
  font-family: "Poppins";
}
body {
}
.header0 {
  background: url("../assets/contact.jpg");
  background-size: contain;
  background-position: 0ch 9.5ch;
  height: 39vh;
  z-index: 2;
}
.contactus {
  color: purple;
  /* font-weight: 400; */
  text-align: center;
}
.contactus h2 {
  margin-top: 90px;
  margin-left: 100px;
  font-size: 30px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container h4 {
  font-size: 20px;
  color: white;
  margin: 20px 0 10px 0;
}
.container h5 {
  font-size: 17px;
  margin: 10px;
  color: white;
}
.footer {
  margin-top: 190px;
}
.socmed {
  /* background: blue; */
  width: 90%;
  margin-top: 40px;
  font-size: 18px;
  color: white;
  text-align: center;
}
.socmed a {
  text-align: center;
  text-decoration: none;
  color: white;
}
