body {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}
.container {
  height: 300%;
  background-color: purple;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.sidebar1,
.sidebar2,
.maincontent {
  height: 33.3%;
}
.maincontent {
  color: white;
  order: 1;
  width: 100%;
  height: 34%;
  background-position: 0% 51%;
  background-image: url("../assets/love1.jpg");
  background-color: darkred;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-repeat: no-repeat;
}
.maincontent #hhh1 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 8px;
  margin-right: 8px;
  text-align: center;
  font-size: 28px;
}
.maincontent #hhh2 {
  margin: 0px 8px 0px 8px;
  text-align: center;
}
.maincontent form {
  margin-top: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.maincontent input {
  align-items: center;
  margin: 6px;
  font-size: 18px;
  padding-left: 5px;
}
.maincontent #nama1 {
  font-style: italic;
}
.maincontent #nama2 {
  font-style: italic;
}
#btn {
  width: 150px;
  height: 35px;
  margin: 17px 0 0 0;
  background-color: orange;
  border: 3px solid white;
  border-radius: 1px;
  cursor: pointer;
}
.maincontent #nama1 {
  width: 270px;
  height: 35px;
}
.maincontent #nama2 {
  width: 270px;
  height: 35px;
}
.maincontent .maincontentimgdiv {
  display: flex;
  justify-content: center;
}

.maincontent .maincontentimgdiv .maincontentimg {
  width: 60%;
  margin: 10px 0 40px 0;
}

.maincontent .a {
  align-self: center;
  display: flex;
  background-color: white;
  color: black;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 10px 0 40px 0;
  padding: 0 15px;
  border-radius: 12px;
  text-decoration: none;
}
.maincontent .a .contact {
  align-self: center;
  display: flex;
  background-color: white;
  color: black;
  width: 230px;
  align-items: center;
  justify-content: center;

  padding: 0 15px;
  border-radius: 12px;
  font-weight: 600;
  font-size: 18px;
}
.maincontent .a .contact img {
  margin: 0 5px 0 5px;
}
.maincontent .a .contact p {
  margin: 8px;
}
.maincontent h4 {
  font-size: 20px;
  text-align: center;
  align-items: self;
  align-self: center;
}
.maincontent .result {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.maincontent .result #resultTag {
  font-size: 24px;
}
.maincontent .result #spanres {
  width: 10px;
  font-size: 24px;
}
.maincontent .result #resultVal {
  font-size: 30px;
}

.sidebar2 {
  order: 2;
  width: 100%;

  background-color: blueviolet;
  display: flex;
  justify-content: center;
}
.sidebar2 .ul2 {
  padding: 0;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sidebar2 .ul2 li {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 10px;
}
.sidebar2 .ul2 li a {
  text-decoration: none;
}

.sidebar1 {
  order: 3;
  margin: 0 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.sidebar1 .logo {
  margin: 0;
  width: 20%;
}
.sidebar1 .ul1 {
  padding: 0;
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.sidebar1 .ul1 li {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 25px;
  margin-bottom: 13px;
  color: white;
}
.sidebar1 .ul1 li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}
.sidebar1 h4 {
  font-size: 22px;
}

@media only screen and (max-width: 500px) {
  .container .maincontent {
    order: 1;
  }

  .container .sidebar1 {
    order: 3;
  }
  .container .sidebar2 {
    order: 2;
  }
}

@media only screen and (min-width: 800px) {
  .container {
    flex-direction: row;
    height: 100%;
  }
  .maincontent,
  .sidebar1,
  .sidebar2 {
    height: 100%;
  }
  .maincontent {
    background-position: 0% 55%;
  }
  .maincontent .a {
    margin-bottom: -20px;
  }
  .container .maincontent {
    order: 2;
    flex: 4;
    width: 33%;
  }
  .container .maincontent {
    padding: 50px 0 0 0;
  }
  .container .maincontent .maincontentimgdiv {
    margin-top: 0;
  }
  .container .sidebar1 {
    order: 1;
    flex: 1;
    width: 33%;
  }
  .container .maincontent #btn {
    margin-bottom: px;
  }
  .container .maincontent .result {
    padding-top: 80px;
  }
  .container .maincontent .result #resultTag {
    font-size: 37px;
  }
  .container .maincontent .result #resultVal {
    font-size: 40px;
  }
  .container .sidebar2 {
    order: 3;
    flex: 1;
    width: 33%;
  }
  .container .contact {
    margin-top: 0px;
  }
  .container .alertDiv {
    margin-top: 220px;
    margin-bottom: 0;
  }
  .container .alertDiv #alert {
    font-size: 16.5px;
  }
  .container #copyright {
    margin-top: 10px;
    font-size: 19px;
  }
}

@media only screen and (min-width: 1000px) {
  .container .maincontent .maincontentimg {
    margin: 5px 0 10px 0;
  }
}

@media only screen and (min-width: 800px) {
}

.content1 {
  margin: 10px auto;
  background-color: black;
  width: 70%;
}
.content2 {
  margin: 10px auto;
  background-color: black;
  width: 70%;
}
.content {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
}

#contenta1 {
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 16px;
  height: 100px;
}
#contenta2 {
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 16px;
  height: 100px;
}
#copyright {
  font-size: 15px;
  margin-top: 40px;
}

#alert {
  text-align: center;
  font-size: 11px;
  margin-bottom: 7px;
}
#alert2 {
  text-align: center;
  font-size: 18px;
  margin: 5px;
  margin-top: -5px;
}
.footer1 {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.nameFooter {
  margin-bottom: 0;
}
.lastUpdated {
  margin-bottom: 0;
}
