body {
  font-size: 20px;
  font-family: "Poppins";
  background-color: purple;
  margin: 0;
  padding: 0;
}
.header0 {
  height: 6vh;
}
#header {
  /* background-color: blue; */
  margin: 0 20px;
  color: white;
  /* display: flex; */
  flex-direction: column;
  background-image: url("");
}
#header h3 {
  margin: 0;
}
#header h4 {
  margin: 0;
}

#container {
  width: 90%;
  background-color: white;
  display: flex;
  margin: 150px auto;
  flex-direction: column;
  border-radius: 15px;
}
/* 
  #start {
    height: 50px;
    margin: 20px auto;
    background-color: purple;
    width: 50%;
    color: white;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
  }
  #start:hover {
    border: 3px solid lightseagreen;
    color: lightseagreen;
  } */
#start {
  -webkit-box-shadow: 6px 2px 36px 2px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 6px 2px 36px 2px rgba(0, 0, 0, 0.63);
  box-shadow: 6px 2px 36px 2px rgba(0, 0, 0, 0.63);
  background-color: white;
  width: 50%;
  height: 50px;
  margin: 300px auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 23px;
}
#start:hover {
  border: 3px solid lightseagreen;
  color: lightseagreen;
}
#quiz {
  display: flex;
  width: 90%;
  margin: 10px auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#qImg {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}
#qImg img {
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

#question {
  width: 100%;
  text-align: center;
  height: 150px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: purple;
}
#question p {
  margin: 0;
  padding: 15px;
  font-size: 1em;
}

#choices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  cursor: pointer;

  margin-bottom: 20px;
}

#choices .choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  height: 45px;
  border-radius: 5px;
  margin: 5px auto;
  background: none;
  text-align: center;
  border: 3px solid purple;
}
#timer {
  display: flex;
  flex-direction: row;
  background-color: yellow;
  width: 100%;
  margin: 10px auto;
  height: 30px;
}
#counter {
  text-align: center;
  font-size: 20px;
  width: 20%;
  margin: 0;
}
/* Persen */
.progr {
  padding: 0 5px;
  margin: 0;
  width: 80%;
  background-color: purple;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
#btimeGauge {
  width: 100%;
  height: 15px;
  border-radius: 10px;
  background-color: lightgray;
}
#timeGauge {
  position: absolute;
  height: 15px;
  border-radius: 10px;
  background-color: mediumseagreen;
}
#progress {
  display: none;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.prog {
  display: none;
  margin: 10px 0;
  width: 15px;
  height: 15px;
  border: 1px solid #000;
  display: inline-block;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
}
#scoreContainer1 {
  position: absolute;
  background-color: white;
  opacity: 0.95;
  width: 100%;
  margin: 220px auto;
  height: 280px;
  top: 35%;
  display: flex;
  justify-content: column;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
#scoreContainer1 #next {
  width: 25%;
  background: black;
  margin: 15px auto;
  margin-bottom: 0;
  height: 40px;
  display: flex;
  flex-direction: column;
  order: 3;
}
#scoreContainer1 #next a {
  margin: 0;
  width: 100%;
  height: 40px;
  background-color: blue;
}
#scoreContainer1 #next button {
  margin: 0 auto;
  background-color: green;
  width: 100%;
  height: 100%;
  border: none;
  color: white;
  font-size: 20px;
}
#scoreContainer1 #labelscore {
  text-align: center;
  font-size: 31px;
  font-weight: 600;
  margin: 0;
  order: 1;
}
#scoreContainer1 #scoreContainer {
  order: 2;
  font-size: 37px;
  font-weight: 700;
  margin-bottom: 11px;
}
#scoreContainer1 #pass {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  order: 3;
}
#scoreContainer1 #passlabel {
  font-size: 17px;
  font-weight: 600;
  order: 1;
  margin-top: 15px;
}
#scoreContainer1 #passNext {
  font-size: 26px;
  text-align: center;
  order: 2;
  font-weight: 600;
}
#scoreContainer1 #go {
  margin-top: 10px;
  text-align: center;
  order: 3;
  width: 70%;
  margin-bottom: 10px;
}
#scoreContainer1 #go button {
  width: 90%;
  height: 30px;
  background-color: green;
  border: none;
  color: white;
  font-size: 18px;
}
p {
  margin: 0;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
}
#scoreContainer1 #tryagain {
  order: 2;
  width: 90%;
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 40px;
  margin-top: 10px;
}
#scoreContainer1 #tryagain #cekbenar {
  font-size: 16px;
  text-align: center;
  margin: 0;
}
#scoreContainer1 #tryagain button {
  margin-top: 10px;
  width: 30%;
  background: none;
  border: none;
  font-size: 18px;
  background: red;
  color: white;
  font-weight: 600;
}
.hide {
  display: none;
}
#infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  background: white;
  opacity: 0.95;
  top: 50%;
  font-size: 1px;
  height: 250px;
}
#infoContainer p {
  font-size: 21px;
}
