.header1 {
  width: 100%;
  height: 74px;
  /* background-color: blue; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.header1 #back {
  /* background-color: white; */
  color: white;
  margin: 0 -10px;
  width: 50px;
  height: 26px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 39px;
  font-weight: 1000;
  font-family: "Poppins";
}
.header1 #welcome {
  text-align: center;
  width: 50%;
}
.header1 h2 {
  text-align: start;
}
.header1 .spanheader1 {
  width: 8%;
}
.header1 ul {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: center;
  align-content: center;
  /* background: yellow; */
  justify-content: space-between;
  text-align: center;
}
.header1 ul li {
  list-style-type: none;
  text-align: center;
}
.header1 ul li a {
  text-decoration: none;
  margin-right: 30px;
  text-align: center;
}
.header1 ul li a button {
  width: 70px;
  font-size: 18px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}
.header1 ul li a #btn1 {
  width: 85px;
  height: 30px;
  border: 2px solid white;
}
#checkbox {
  opacity: 0;
}

.btn {
  z-index: 1;
  margin: 275px auto;
  width: 33%;
}
.btn #playbtn {
  margin: 0 auto;
  background-color: aqua;
}
.btn #playbtn button {
  background-color: blue;
  width: 100%;
  height: 57px;
  border: none;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  font-family: "Poppins";
  color: white;
  font-size: 16px;
  font-weight: 600;
}

@media screen and (max-width: 606px) {
  body {
    position: relative;
    overflow-x: hidden;
  }
  .header1 {
    background-color: ;
    z-index: -1;
  }

  .menu-toggle {
    margin-left: 150px;
    display: none;
    flex-direction: column;
    height: 18px;
    justify-content: space-between;
    position: absolute;
  }

  .menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -5px;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
  }

  .menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    transition: all 0.5s;
  }

  /* Hamburger Menu Animation */

  .menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
  }
  .menu-toggle span:nth-child(4) {
    transform-origin: 0 0;
  }
  .menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-2px, -1px);
  }
  .menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(-2px, 0);
  }
  .menu-toggle input:checked ~ span:nth-child(3) {
    transform: scale(0) translate(-1px, 0);
  }

  .header1 ul {
    margin: 0;
    position: absolute;
    right: 0;
    flex-direction: column;
    height: 100vh;
    background-color: purple;
    top: 0;
    align-items: center;
    justify-content: space-evenly;
    z-index: -1;
    width: 60%;
    display: none;
    transition: 1s;
    font-size: 25px;
    z-index: 0;
    border: 2px solid white;
  }
  .menu-toggle {
    transition: all 1s;
    display: flex;
  }
  .header1 ul.slide {
    transition: all 1s;
    transform: translateX(0%);
    display: flex;
  }
}

.header0 {
  background: url("../assets/header.jpg");
  background-size: cover;
  width: 100%;
  height: 200px;
}
.header1 ul {
  z-index: 1;
}
.menu-toggle {
  z-index: 2;
}
